PORT=3006
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=strongpassword123
DB_NAME=learningPostgres

STRIPE_SECRET_API_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET_ACCOUNT=whsec_replace_me
STRIPE_WEBHOOK_SECRET_CONNECT=whsec_replace_me
