PORT=3002
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=strongpassword123
DB_NAME=learningPostgres

JWT_ACCESS_SECRET=replace_me
JWT_ACCESS_EXPIRY=1d
JWT_ACCESS_TEMP_SECRET=replace_me
JWT_ACCESS_TEMP_EXPIRY=10m
BCRYPT_SALT_ROUNDS=10

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=3600

RATE_LIMIT_TTL=60
RATE_LIMIT=100

PAYMENT_SERVICE_URL=http://localhost:3006
